/*------------color boton ventana pop up---------------*/
.minicartCheckoutButton--minicart-checkout-button :global(.vtex-button) {
  background-color   : #1d2734;
  width              : 328px !important;
  height             : 48px;
  display            : flex;
  padding            : 10px;
  border-radius      : 40px;
  margin-top         : 18px;

}

.minicartTitle {
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 600;
  line-height: 17.5px;
  text-align : left;
  display    : none;
}

.opened--minicart-container {
  width : 400px;
  height: auto;
}

.drawer--minicart-container {
  width: 100% !important;
}

.minicartEmptyStateContainer--minicart-empty-state {
  justify-content: flex-start;
}

.drawerContent {
  max-height: 100vh;
}


.closeIconContainer {
  position       : absolute;
  right          : 18px;
  width          : 18.67px;
}

.closeIcon--minicart-container {
  background   : #f5f4f6;
  border-radius: 50%;
}

.opened {
  display        : flex;
  justify-content: space-around;
}

.minicartSideBarContentWrapper {
  display        : flex;
  justify-content: space-evenly;
}

.minicartProductListContainer {
  margin         : 20px 0px;
  scrollbar-color: #bebebe #f2f2f2;
  padding        : 0;
  max-height     : 420px;
}

.minicartCheckoutButton--minicart-button {
  width  : 100%;
  padding: 0;
}

.minicartCheckoutButton--minicart-button :global(.vtex-button) {
  width        : 100%;
  border-radius: 40px;
  background   : rgba(29, 39, 52, 1);
}

.minicartCheckoutButton--minicart__empty :global(.vtex-button) {

  background   : transparent;
  font-weight  : 400;
  color        : rgba(29, 39, 52, 1);
  border       : 1px solid rgba(29, 39, 52, 1);
  width        : 328px;
  height       : 48px;
  border-radius: 40px;
}

.openIconContainer--minicart-container {
  padding: 0;
}

.openIconContainer--minicart-container :hover {
  background-color: transparent;
}


.closeIconButton--minicart-container {
  padding: 0;
  height : max-content;
}

.minicartProductListContainer :global(.vtex-flex-layout-0-x-flexRowContent) {
  padding    : 0;
  margin     : 4px 0 4px 0;
  gap        : 7.56px;
  display    : flex;
  align-items: flex-end;
}

.minicartProductListContainer :global(.vtex-flex-layout-0-x-flexCol) {
  margin: 0;
}

.minicartCheckoutButton :global(.vtex-button__label)::after {
  content       : "finalizar tu compra";
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  text-transform: lowercase;
}

.minicartCheckoutButton :global(.vtex-button__label) {
  font-size: 0px;
  display  : flex;
}

.minicartCheckoutButton :global(.vtex-button__label)::after {
  text-transform: capitalize;
}
.minicartCheckoutButton--minicart__empty :global(.vtex-button){
  color: #bebebe;
}
@media (min-width: 1280px) {
  .openIconContainer--minicart-container {
    padding-left: 3rem;
  }
}

@media (min-width: 640px) and (max-width: 1279px) {
  .openIconContainer--minicart-container {
    padding-left: 0;
  }
}