.productName {
    font-size         : 11.34px;
    font-weight       : 300;
    line-height       : 15.12px;
    text-align        : left;
    width             : 140.84px !important;
    max-height        : 31px;
    display           : -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow          : hidden;
}

.productPrice {
    font-size  : 15.12px;
    font-weight: 600;
    line-height: 18.15px;
    text-align : left;
}

.productPriceCurrency {
    font-size  : 11.34px;
    font-weight: 400;
    line-height: 15.88px;
    text-align : left;

}

.productBrandName,
.productVariationsContainer {
    display: none;
}


.quantitySelectorWrapper :global(.vtex-product-list-0-x-quantitySelectorButton) {
    background-color: #1D2734;
    color           : white
}

.productImage,
.productImageAnchor {
    width        : 145.19px !important;
    height       : 120.99px;
    border-radius: 3.78px;
    border       : 0.95px;
}

.removeButtonContainer {
    margin-right: 20px;
}
