
/*------------color boton ventana pop up---------------*/
.minicartCheckoutButton--minicart-checkout-button :global(.vtex-button) {
  background-color: #1d2734;
  width           : 328px;
  height          : 48px;
  left            : 16px;
  padding         : 10px;
  border-radius   : 40px;
  border          : 1px;
  margin-top      : 18px;
}

.minicartTitle {
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 600;
  line-height: 17.5px;
  text-align : left;
  display    : none;
}

.opened--minicart-container {
  width : 400px;
  height: auto;
}

.minicartEmptyStateContainer--minicart-empty-state {
  justify-content: flex-start;
}

.drawerContent {
  max-height: 100vh;
}

.minicartCheckoutButton--minicart-checkout-button :global(.vtex-button__label) {
  content   : "Finalizar tu compra";
  display   : block;
  text-align: center;
}

.closeIconContainer {
  position       : absolute;
  right          : 18px;
  /* top         : 40px; */
  width          : 18.67px;
  height         : 18.67px;
  margin-right   : 20px;
}

.closeIcon--minicart-container {
  background   : #f5f4f6;
  border-radius: 50%;
}

.opened {
  display        : flex;
  justify-content: space-around;
}

.minicartSideBarContentWrapper {
  display        : flex;
  justify-content: space-evenly;
}

.minicartProductListContainer {
  margin         : 20px 0px;
  scrollbar-color: #bebebe #f2f2f2;
  padding        : 0;
}

.minicartCheckoutButton--minicart-button {
  width  : 100%;
  padding: 0;
}

.minicartCheckoutButton--minicart-button :global(.vtex-button) {
  width        : 100%;
  border-radius: 40px;
  background   : rgba(29, 39, 52, 1);
}

@media (max-width: 780px) {
  .minicartSummary--minicart-summary {
    width: 310px !important;
  }

  .minicartCheckoutButton--minicart-checkout-button :global(.vtex-button) {
    width: 280px !important;
  }
}

.openIconContainer--minicart-container{
  padding: 0;
  padding-left: 3rem;
}