.summaryItemContainer {
    width : 35.92px;
    height: 85.07px;
}

.summaryItemContainer--minicart-summary-totalizers {
    width : 280px;
    height: 17px;
}

.summarySmallDisclaimer--minicart-checkout-summary {
    display: none;
}

.summaryItemLabel--minicart-summary-totalizers {
    font-size  : 14px;
    font-weight: 300;
    line-height: 16.8px;
}

.price--minicart-summary-totalizers {
    font-size  : 14px;
    font-weight: 300;
    line-height: 16.8px;
}

.summarySmallContent--minicart-checkout-summary .summaryItemContainer--minicart-summary-totalizers:last-child .summaryItemLabel--minicart-summary-totalizers,
.summarySmallContent--minicart-checkout-summary .summaryItemContainer--minicart-summary-totalizers:last-child .price--minicart-summary-totalizers {
    color      : red;
    font-size  : 16px;
    font-weight: 600;
    line-height: 19.2px;
    margin-top : 12px;
}