.flexRow--minicart-footer {
    box-shadow: none;
}

.flexRowContent--product-description :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
    justify-content: left;
}
.flexColChild--minicart-footer-column :global(.vtex-minicart-2-x-minicartSummary){
    border: 1px solid red;
    width: 368px;
    height: 126px;  
    border-radius: 4px;
    border: 1px solid #E7E7E7;
    margin-left: 16px;

}