.productHighlightWrapper--pdp__flash-Deal {
    width        : 104px !important;
    height       : 32px;
    padding      : 6px 12px 6px 12px;
    border-radius: 4px;
    background   : #FF832433;
    font-family  : Lexend;
    font-size    : 14px;
    font-weight  : 400;
    line-height  : 20px;
    text-align   : left;
    color        : #FF8324;

}

.productHighlightWrapper--pdp__best--seller {
    width        : 104px !important;
    height       : 32px;
    padding      : 6px 12px 6px 12px;
    border-radius: 4px;
    background   : #93FF9633;
    font-family  : Lexend;
    font-size    : 14px;
    font-weight  : 400;
    line-height  : 20px;
    text-align   : left;
    color        : #1D2734;

}

@media (max-width: 767px) {
    .productHighlightWrapper--pdp__flash-Deal {
        margin-right: 5rem;
    }

    .flexRow--header-container-menu-desktop {
        margin-left: 0%;
    }
}