/* .flexRow--pdp__price {
    margin-top: 16px;
} */

.flexColChild--product__gallery {
    height: 10px;
}

.flexRow--especificartion__pdp .stretchChildrenWidth {
    display        : grid;
    justify-content: left;
}

.flexRowContent--pdp__price {
    display: flex;
    width  : 75%;
}

.flexRowContent--pdp__quantity--button {
    display: flex;
}

.flexRowContent--pdp__quantity--button :global(.vtex-button) {
    width        : 160px;
    height       : 48px;
    padding      : 10px;
    border-radius: 4px;
    background   : rgba(73, 42, 119, 1);
    color        : white;
}

.flexRowContent--pdp__quantity--button :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
}

/* .flexRow--pdp__quantity--button :global(.vtex-flex-layout-0-x-flexRowContent--pdp__quantity--button) {
    width: 85% !important;
} */

.flexRow--especificartion__pdp :global(.vtex-flex-layout-0-x-stretchChildrenWidt) {
    justify-content: left;
}

.flexRowContent--pdp__highlights {
    gap          : 8px;
    margin-bottom: 13px;
    display      : flex;
    width        : 200px;
    margin-top   : 1rem;
}

.flexCol--product__image-pdp {
    display    : flex;
    align-items: center;
}

.flexRow--global__product--main {
    max-width: 1280px;
    margin   : auto;
}


/* .flexColChild--product__information--pdp :global(.vtex-product-price-1-x-currencyContainer)::before {
    content      : "Now";
    font-size    : 24px;
    font-weight  : 600;
    line-height  : 16.8px;
    width        : 195px;
    height       : 17px;
    padding-right: 0.5rem;

} */
.flexRowContent--global__product--main {
    justify-content: flex-start;
}

@media screen and (min-width: 1024px) {
    .flexRow--especificartion__pdp .stretchChildrenWidth {
        display        : grid;
        justify-content: left;
        margin-left    : 5rem;
    }

    /* .flexRowContent--pdp__price {
        width: 50%;
    } */

    .flexRowContent--pdp__quantity--button :global(.vtex-button) {
        max-width    : 312px;
        height       : 48px;
        padding      : 10px;
        border-radius: 4px;
        border       : 1px;
        background   : rgba(73, 42, 119, 1);
        color        : white;
        white-space  : nowrap;
    }

    .flexCol--product__image-pdp {
        width : 631px !important;
        height: 650px;
        margin: auto;
    }

    .flexRowContent--pdp__highlights {
        margin-top: 0;
    }

    .flexCol--product__information--pdp {
        padding-left: 24px;
    }

}