.styledLinkContent--menu-item {
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 400;
    line-height: 15px;
    text-align : center;
    white-space: break-spaces

}
.styledLinkContainer--menu-item{
    margin-top: 15px;
    margin-right: 0%;
}
