.container .button {
  background   : #1d2734;
  height       : 40px;
  min-width    : 80px;
  border-radius: 40px;
}

.container :global(.vtex-button) {
  background   : #1d2734;
  height       : 40px;
  min-width    : 80px;
  border-radius: 40px
}

.label {
  color         : white;
  display       : block;
  text-transform: lowercase;
  padding-left  : 0;
}

.label::first-letter {
  text-transform: capitalize;
}

.accessCodeOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px solid #1D2734;
  background-color: transparent;
}

.accessCodeOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
}

.accessCodeOptionBtn :global(.vtex-button__label) ::before {
  content       : "Receive access code by email";
  display       : inline-block;
  font-size     : 14px;
  text-transform: lowercase;
}

.accessCodeOptionBtn :global(.vtex-button__label) {
  font-size: 0;
  display  : flex;
}

.accessCodeOptionBtn .vtex-button__label {
  font-size: 0;
  display  : flex;
}

.accessCodeOptionBtn :global(.vtex-button__label) ::before {
  text-transform: capitalize;
}

.emailPasswordOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px solid #1D2734;
  background-color: transparent;
}

.emailPasswordOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
}

.emailPasswordOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.googleOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 0px 68px 0px 22px;
  gap             : 15px;
  border-radius   : 40px;
  border          : 1px solid #1D2734;
  background-color: #FFFFFF;
}

.googleOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
  white-space   : nowrap;
}

.googleOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.facebookOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 49px;
  padding         : 0px 75.5px 1px 23px;
  border-radius   : 40px;
  background-color: #1877F2;
}

.facebookOptionBtn :global(.vtex-button__label) {
  font-size     : 16px;
  font-weight   : 400;
  line-height   : 20px;
  text-align    : center;
  color         : #FFFFFF;
  white-space   : nowrap;
  width         : 100%;
  text-transform: lowercase;
}

.facebookOptionBtn :global(.vtex-button__label)::first-letter {
  text-transform: capitalize;
}

.content--loginOptions {
  background   : #F5F4F6;
  width        : 423px;
  height       : 303px;
  border-radius: 0px 0px 8px 8px;

}

.arrowUp {
  display: none;
}

.inputContainerEmail :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  padding      : 10px 16px 10px 16px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;
}

.inputContainerEmail :global(.vtex-styleguide-9-x-input) {
  background: transparent;
}

.sendButton :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px;
  background-color: #1D2734;

}

.backButton :global(.vtex-button) {
  display: block;
}

.backButton :global(.vtex-button)::before {
  content            : url("/arquivos/icon__back-login.png");
  background-repeat  : no-repeat;
  background-size    : 100%;
  background-position: center
}

.backButton :global(.t-small) {
  display: none;
}

.arrowBackIcon {
  display: none;
}

.backButton {
  position   : absolute;
  z-index    : 69;
  top        : 0;
  min-height : 58px;
  display    : flex;
  align-items: center;
  viewBox    : 0 0 24 24;
}


.inputContainerPassword :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  padding      : 10px 16px 10px 16px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;
}

.inputContainerPassword :global(.vtex-styleguide-9-x-input) {
  background: transparent;
}

.forgotPasswordLink {
  width      : 100%;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  margin-left: 30%;
  color      : #0C2340;
}

.forgotPasswordLink::before {
  content     : "Forgot your password?";
  font-family : Lexend;
  font-size   : 14px;
  font-weight : 300;
  line-height : 20px;
  margin-right: 0.5rem;
}

.forgotPasswordLink::after {
  content    : "Reset password";
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  color      : rgba(229, 106, 84, 1);
}

.forgotPasswordLink {
  font-size: 0;
  display  : flex;
}

.dontHaveAccount {
  font-size: 0;
}

.dontHaveAccount::after {
  font-family : Lexend;
  content     : "Create an account";
  font-size   : 14px;
  font-weight : 400;
  line-height : 17.5px;
  text-align  : center;
  color       : rgba(29, 39, 52, 1);
  padding-left: 4rem;
}

.optionsList :hover {
  background-color: #0C2340;
  border-radius   : 40px;
  color           : white;
}

.inputContainerAccessCode :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;

}

.inputContainerAccessCode :global(.vtex-styleguide-9-x-input) {
  background-color: transparent;

}


.googleOptionBtn .oauthLabel {
  font-size: 0;
  display  : flex;
}

.googleOptionBtn .oauthLabel::before {
  content       : "Continue with";
  display       : inline-block;
  font-size     : 16px;
  text-transform: lowercase;
  margin-left   : 36px;
}

.googleOptionBtn :global(.vtex-button__label) ::before {
  text-transform: capitalize;
}

.googleOptionBtn .oauthProvider {
  font-size     : 16px;
  text-transform: lowercase;
}

.facebookOptionBtn :global(.vtex-login-2-x-oauthLabel)::after {
  content       : "Continue with Facebook";
  white-space   : nowrap;
  font-size     : 16px;
  text-transform: lowercase;
  margin-left   : 12.5px;
}

.facebookOptionBtn .oauthLabel {
  font-size: 0;
  display  : flex;
}

.facebookOptionBtn :global(.vtex-button__label)::before {
  text-transform: capitalize;
}

.sendButton :global(.vtex-button__label)::before {
  content       : "Login";
  white-space   : nowrap;
  font-size     : 16px;
  text-transform: lowercase;
}

.sendButton :global(.t-small) {
  font-size: 0;
  display  : flex;
}


.content--emailAndPassword {
  width        : 423px;
  padding      : 0%;
  border-radius: 0px 0px 8px 8px;
  background   : #F5F4F6;
}

.inputContainerEmail::before {
  content        : "Continue with e-mail and password";
  white-space    : nowrap;
  display        : flex;
  justify-content: center;
  font-family    : Lexend;
  font-size      : 14px;
  font-weight    : 300;
  line-height    : 20px;
  color          : rgba(94, 99, 110, 1);
  margin-bottom  : 16px;
}

.loginOptionsContainer :global(.vtex-login-2-x-formTitle) {
  margin-top: 0rem;
}

.inputContainerPassword :global(.vtex-input__suffix) {
  background: #F5F4F6;
}

.content--beginCreatePass {
  width        : 423px;
  height       : 219px;
  border-radius: 0px 0px 8px 8px;
  background   : #F5F4F6;
}

.content--beginCreatePass :global(.vtex-login-2-x-formTitle)::before {
  content    : "RECUPERAR CLAVE";
  white-space: nowrap;
  font-size  : 20px;
  font-weight: 300;
  line-height: 22.92px;
  text-align : center;
}

.content--beginCreatePass :global(.vtex-login-2-x-formTitle)::after {
  font-size: 0;
}

.content--beginCreatePass .formTitle {
  font-size: 0;
  display  : flex;
}


.formLinkContainer {
  margin-left: -5rem;
  margin-top : 16px;
}


.content--recoveryPassword {
  width        : 423px;
  height       : 395px;
  border-radius: 0px 0px 8px 8px;
  background   : #F5F4F6;

}

.formFooter {
  border: 0;
}

.content--recoveryPassword :global(.vtex-login-2-x-inputContainerAccessCode) {
  display: none;
}

.inputContainerAccessCode :global(.vtex-styleguide-9-x-input) {
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align : left;

}

.forgotPasswordForm :global(.vtex-login-2-x-formTitle)::before {
  content    : "RESET YOUR PASSWORD";
  font-family: Lexend;
  font-size  : 20px;
  font-weight: 300;
  line-height: 22.92px;
  text-align : center;
}

.forgotPasswordForm :global(.vtex-login-2-x-formTitle) {
  font-size: 0;
}

.forgotPasswordForm :global(.vtex-login-2-x-formTitle)::after {
  content    : "Create a new password";
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  text-align : center;
  color      : rgba(94, 99, 110, 1);
}

.formSubtitle {
  font-size: 0;
}

.forgotPasswordForm :global(.flex) {
  color: rgba(94, 99, 110, 1);
}

.codeConfirmation :global(.vtex-login-2-x-formTitle)::after {
  content    : "VERIFY YOUR E-MAIL";
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  text-align : center;
}

.codeConfirmation :global(.vtex-login-2-x-formTitle) {
  font-size: 0;
}

.content--codeConfirmation {
  background: rgba(245, 244, 246, 1);

}

.content--emailVerification {
  background: rgba(245, 244, 246, 1);
}

.accountOptionsSectionTitle {
  display        : flex;
  justify-content: center;
  margin-bottom  : 24px;
}

.contentContainer {
  margin-top: 4rem !important;
}


.contentFormVisible .accountOptions a {
  width          : 368px;
  height         : 48px;
  padding        : 10px;
  gap            : 10px;
  border-radius  : 40px;
  margin-bottom  : 0.5rem;
  display        : flex;
  justify-content: center;
  font-family    : Lexend;
  font-size      : 14px;
  font-weight    : 400;
  line-height    : 17.5px;
  border         : 1px solid rgba(29, 39, 52, 1);
  color          : rgba(29, 39, 52, 1);

}

.contentFormVisible .accountOptions a:hover {
  background   : rgba(29, 39, 52, 1);
  color        : white;
  width        : 368px;
  height       : 48px;
  padding      : 10px;
  border-radius: 40px;

}

.contentFormVisible :global(.vtex-login-2-x-logoutButton)::after {
  content    : "Log out";
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  color      : rgba(227, 22, 22, 1);
}


.contentFormVisible :global(.vtex-login-2-x-logoutButton) {
  font-size: 0;
}

.content--accountOptions {
  background: rgba(245, 244, 246, 1);
}

.accountOptionsSectionTitle::after {
  content    : "MY ACCOUNT";
  font-family: Lexend;
  font-size  : 20px;
  font-weight: 300;
  line-height: 22.92px;
  text-align : center;
}

.accountOptionsSectionTitle {
  font-size: 0px;
}

.emailVerification :global(.vtex-login-2-x-formTitle) {
  display: grid;
}

.inputContainerAccessCode :gloabl(.vtex-styleguide-9-x-input) {
  font-family: Lexend;
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align : center;

}

.content--accountOptions {
  position: fixed;
}

.accountOptions .logoutButton {
  margin-left: 50%;
}

.oauthLabel {
  margin: 0 !important;
}

/*------------tablet---------------*/
@media (min-width: 640px) and (max-width: 1024px) {
  .container {
    width: 90px !important;
  }
}

@media (min-width: 1024px) {
  .content--emailAndPassword {
    height: 375px;
  }
}