.menuItemVertical:hover {
    background-color: blueviolet;
}

.menuItemVertical:hover {
    background-color: aqua;
    transition      : background-color 0.3s, color 0.3s;
}

.triggerContainer{
    margin-top: 30px;
}

.triggerButtonIcon--mega-menu-trigger{
    width: 24px !important;
    height: 24px !important;
 }