.container {
  background   : #1d2734;
  height       : 40px;
  width        : 80px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px;
  margin-top   : 5%;
  margin-left  : 40px;
}

.label {
  color         : white;
  display       : block;
  text-transform: lowercase;
  padding-left  : 0;
}

.label::first-letter {
  text-transform: capitalize;
}

.accessCodeOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px solid #1D2734;
  background-color: transparent;
}

.accessCodeOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
}

.accessCodeOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.emailPasswordOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px solid #1D2734;
  background-color: transparent;
}

.emailPasswordOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
}

.emailPasswordOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.googleOptionBtn :global(.vtex-button) {
  width        : 368px;
  height       : 48px;
  padding      : 0px 68px 0px 22px;
  gap          : 15px;
  border-radius: 40px;
  border       : 1px solid #1D2734;
  ;
  background-color: #FFFFFF;
}

.googleOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
}

.googleOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.facebookOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 49px;
  padding         : 0px 75.5px 1px 23px;
  border-radius   : 40px;
  background-color: #1877F2;
}

.facebookOptionBtn :global(.vtex-button__label) {
  font-size     : 16px;
  font-weight   : 400;
  line-height   : 20px;
  text-align    : center;
  color         : #FFFFFF;
  white-space   : nowrap;
  width         : 100%;
  text-transform: lowercase;
}

.facebookOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.content--loginOptions {
  margin-top: 80px;
  position  : sticky;

}

.arrowUp {
  display: none;
}

.inputContainerEmail :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  padding      : 10px 16px 10px 16px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;
}

.inputContainerEmail :global(.vtex-styleguide-9-x-input) {
  background: transparent;
}

.sendButton :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px;
  background-color: #1D2734;

}

.backButton :global(.vtex-button) {
  display: none;
}

.inputContainerPassword :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  padding      : 10px 16px 10px 16px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;
}

.inputContainerPassword :global(.vtex-styleguide-9-x-input) {
  background: transparent;
}

.forgotPasswordLink {
  width      : 100%;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  margin-left: 30%;
  color      : #0C2340;

}

.dontHaveAccount {
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align : center;
  color      : #0C2340;
}

.optionsList :hover {
  background-color: #0C2340;
  border-radius   : 40px;
  color           : white;
}

.inputContainerAccessCode :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;

}

.inputContainerAccessCode :global(.vtex-styleguide-9-x-input) {
  background-color: transparent;

}

/* 
.facebookOptionBtn {
  background-image: url("/arquivos/facebook.svg") !important;
  width           : 20px;
  height          : 20px;
  position        : absolute;
  background-image: white;
} */


/*------------tablet---------------*/
@media (min-width: 640px) and (max-width: 1024px) {
  .container {
    width: 90px !important;
  }
}

.googleOptionBtn .oauthLabel {
  font-size: 0;
  display: flex;

}
.googleOptionBtn .oauthLabel::before {
  content: "Continue with";
  display: inline-block;
  font-size: 16px;
}

.googleOptionBtn .oauthProvider{
  font-size: 16px;
}