.openIconContainer--drawer-desktop {
    margin-top: 25px;
}

.menuIcon--menu-desktop {
    margin-top: 25px;
}

.opened {
    width: 66% !important;
}

.drawerHeader {
    margin-top : 21px;
    margin-left: 16px;
}