.triggerContainer {
    margin-top: 30px;
}

.triggerButtonIcon--mega-menu-trigger {
    width : 24px !important;
    height: 24px !important;
}

.menuContainerNav--components-mega-menu {
    width      : max-content !important;
    z-index    : 1000;
    font-family: lexend;
    font-size  : 12px;
    line-height: 15px;
    font-weight: 300;

}

.menuContainerVertical :global(.vtex-mega-menu-2-x-styledLinkText) {
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    text-align : left;
}

.styledLinkText--components-mega-menu {
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 400;
    line-height: 15px;
    text-align : left;
}
.accordionIconContainer{
    display: none;
}

.menuContainerNav--components-mega-menu :global(.vtex-mega-menu-2-x-menuContainer) {
    max-height: max-content;
    width     : 220px;
    height    : 647px !important;
}

.menuContainerNav--components-mega-menu :global(.vtex-mega-menu-2-x-submenuContainer) {
    background-color: #FFE6D3;
    max-height      : max-content;
    border-radius   : 0 0 16px 0;
    width           : 464px;
    justify-content : left;
    height          : 647px !important;
}

.styledLinkContainer--components-mega-menu {
    margin : 0% !important;
    padding: 10px 10px 10px 16px;
}


.menuItem--components-mega-menu :hover {
    background-color: #FFE6D3;
    scrollbar-width : none;
}