.headerRowContainer--container-menu-icon-global {
    padding-bottom: 10px;
    overflow      : auto;
}

.headerRowContentContainer--container-menu-icon-global {
    margin-left: 0;
}


/*------------tablet---------------*/
@media (min-width: 640px) and (max-width: 1023px) {
    .headerRowBackground--container-menu-icon-global {
        padding-left: 0%;
    }

    .headerRowContentContainer--container-menu-icon-global {
        margin-left: 0;
        max-width  : max-content;
    }
}

@media (min-width: 1024px) {
    .headerStickyRow--container-menu-desktop {
        max-width: 1280px;
        margin   : auto;
    }

    .headerStickyRow--container-menu-icon-global {
        max-width: 1280px;
        margin   : auto;
    }

    .headerRowBackground--container-menu-icon-global {
        max-width: 1280px;
        height   : 56px;
    }
}