/*--------------------------------------------css header phone--------------------------------*/
.flexRowContent--header-container-menu-phone {
    display        : flex;
    justify-content: center;
    align-items    : center;

}

.flexRowContent--header-container-menu-phone-section-one {
    display         : flex;
    justify-content : space-between;
    background-color: white;
}


.flexRow--header-container-menu-phone-section-one {
    margin-top: 15px;
    height    : 72px;
}

.flexRowContent--header-container-menu-desktop-section-one-left {
    position: relative;
}

.flexRowContent--header-container-menu-desktop-section-one-right:hover {
    text-decoration-line: underline;
}

.flexRowContent--header-container-menu-desktop :hover {
    text-decoration-line: underline;
}

.flexRow--header-container-menu-desktop-section-one-left {
    min-width: 410px;
}

.flexRowContent--container__menu--logo :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width : 18px;
    height: 12px;
}

.flexCol--container__menu--logo,
.flexCol--container-menu-serach-minicart-login-mobile {
    display: contents;
}

.flexColChild--container__menu--logo :global(.vtex-flex-layout-0-x-flexCol) {
    margin-top: 1rem;
    height    : auto;
}

.flexColChild--container-menu-serach-minicart-login-mobile {
    align-content: center;
}

.flexRowContent--header-container-menu-desktop {
    gap: 30px;
}

/* @media (max-width: 767px) { */
/* .flexRowContent--header-container-menu-desktop {
        gap: 30px;
    }

    .flexRow--header-container-menu-desktop {
        margin-left: 0%;
    } */
/* } */

@media (min-width: 1024px) {
    .flexRow--conatainer-banner-home-desktop {
        max-width: 1280px;
        margin   : auto;
    }

    .header-container-menu-desktop {
        width  : 1136px;
        height : 47px;
        top    : 9px;
        left   : 72px;
        gap    : 0px;
        opacity: 0px;
    }

    .flexRowContent--header-container-menu-desktop {
        gap       : 40px;
        text-align: center;
    }

    .flexRow--header-container-menu-desktop {
        margin-left: 45px;
    }

    .flexRow--drawer-header :global(.vtex-flex-layout-0-x-flexRowContent--drawer-header) {
        display: flow-root;
    }

    .flexRow--drawer-header :global(.vtex-store-components-3-x-logoImage) {
        margin-top : 29px;
        margin-left: 16px;
    }

    .flexCol--trigger-mega-menu-container {
        display        : flex;
        flex-direction : row;
        justify-content: flex-end;
        margin-top     : 1.6rem;
    }

    .flexRow--header-container-menu-desktop-section-one-rigth {
        margin-left: 35px;
    }

    .flexRowContent--header-container-menu-desktop-section-one-right {
        margin-top: 25px;
    }
}