.container {
  background   : #1d2734;
  height       : 40px;
  width        : 80px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px;
  margin-top   : 5%;
  margin-left  : 40px;
}

.label {
  color         : white;
  display       : block;
  text-transform: lowercase;
  padding-left  : 0;
}

.label::first-letter {
  text-transform: capitalize;
}



.accessCodeOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px solid #1D2734;
  background-color: transparent;
}

.accessCodeOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
}

.accessCodeOptionBtn :global(.vtex-button__label) ::before {
  content       : "Receive access code by email";
  display       : inline-block;
  font-size     : 14px;
  text-transform: lowercase;
}

.accessCodeOptionBtn :global(.vtex-button__label) {
  font-size: 0;
  display  : flex;
}

.accessCodeOptionBtn .vtex-button__label {
  font-size: 0;
  display  : flex;
}

.accessCodeOptionBtn :global(.vtex-button__label) ::before {
  text-transform: capitalize;
}

.emailPasswordOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px solid #1D2734;
  background-color: transparent;
}

.emailPasswordOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
}

.emailPasswordOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.googleOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 0px 68px 0px 22px;
  gap             : 15px;
  border-radius   : 40px;
  border          : 1px solid #1D2734;
  background-color: #FFFFFF;
}

.googleOptionBtn :global(.vtex-button__label) {
  font-size     : 14px;
  font-weight   : 400;
  line-height   : 17.5px;
  text-align    : center;
  color         : #1D2734;
  text-transform: lowercase;
  white-space   : nowrap;
}

.googleOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.facebookOptionBtn :global(.vtex-button) {
  width           : 368px;
  height          : 49px;
  padding         : 0px 75.5px 1px 23px;
  border-radius   : 40px;
  background-color: #1877F2;
}

.facebookOptionBtn :global(.vtex-button__label) {
  font-size     : 16px;
  font-weight   : 400;
  line-height   : 20px;
  text-align    : center;
  color         : #FFFFFF;
  white-space   : nowrap;
  width         : 100%;
  text-transform: lowercase;
}

.facebookOptionBtn :global(.vtex-button__label) ::first-letter {
  text-transform: capitalize;
}

.content--loginOptions {
  margin-top   : 80px;
  /* position  : sticky; */
  background   : #F5F4F6;
  width        : 423px;
  height       : 303px;
  border-radius: 0px 0px 8px 8px;

}

.arrowUp {
  display: none;
}

.inputContainerEmail :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  padding      : 10px 16px 10px 16px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;
}

.inputContainerEmail :global(.vtex-styleguide-9-x-input) {
  background: transparent;
}

.sendButton :global(.vtex-button) {
  width           : 368px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 40px;
  border          : 1px;
  background-color: #1D2734;

}

.backButton :global(.vtex-button) {
  display: none;
}

.inputContainerPassword :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  padding      : 10px 16px 10px 16px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;
}

.inputContainerPassword :global(.vtex-styleguide-9-x-input) {
  background: transparent;
}

.forgotPasswordLink {
  width      : 100%;
  font-size  : 14px;
  font-weight: 300;
  line-height: 20px;
  margin-left: 30%;
  color      : #0C2340;

}

.dontHaveAccount {
  font-size  : 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align : center;
  color      : #0C2340;
  margin-top : 6px;
}

.optionsList :hover {
  background-color: #0C2340;
  border-radius   : 40px;
  color           : white;
}

.inputContainerAccessCode :global(.vtex-input-prefix__group) {
  width        : 368px;
  height       : 48px;
  gap          : 10px;
  border-radius: 40px;
  border       : 1px solid #1D2734;

}

.inputContainerAccessCode :global(.vtex-styleguide-9-x-input) {
  background-color: transparent;

}


/*------------tablet---------------*/
@media (min-width: 640px) and (max-width: 1024px) {
  .container {
    width: 90px !important;
  }
}

.googleOptionBtn .oauthLabel {
  font-size: 0;
  display  : flex;

}

.googleOptionBtn .oauthLabel::before {
  content       : "Continue with";
  display       : inline-block;
  font-size     : 16px;
  text-transform: lowercase;
}

.googleOptionBtn :global(.vtex-button__label) ::before {
  text-transform: capitalize;
}

.googleOptionBtn .oauthProvider {
  font-size     : 16px;
  text-transform: lowercase;
}

.facebookOptionBtn :global(.vtex-login-2-x-oauthLabel)::before {
  content       : "Continue with Facebook";
  white-space   : nowrap;
  font-size     : 16px;
  text-transform: lowercase;
}

.facebookOptionBtn .oauthLabel {
  font-size: 0;
  display  : flex;
}

.facebookOptionBtn :global(.vtex-button__label) ::before {
  text-transform: capitalize;
}

.sendButton :global(.vtex-button__label) ::before {
  content       : "Login";
  white-space   : nowrap;
  font-size     : 16px;
  text-transform: lowercase;
}

.sendButton :global(.t-small) {
  font-size: 0;
  display  : flex;
}

.formLinkContainer :global(.vtex-login-2-x-forgotPasswordLink) ::before {
  content       : "Forgot your password?  Reset password";
  white-space   : nowrap;
  font-size     : 16px;
  text-transform: lowercase;
}

.content--emailAndPassword {
  width        : 423px;
  height       : 375px;
  border-radius: 0px 0px 8px 8px;
  background   : #F5F4F6;
}

.formTitle {
  font-family: Lexend;
  font-size  : 20px;
  font-weight: 300;
  line-height: 22.92px;
  text-align : center;

}

.loginOptionsContainer :global(.vtex-login-2-x-formTitle) {
  margin-top: 0rem;
}

.inputContainerPassword :global(.vtex-input__suffix) {
  background: #F5F4F6;
}

.content--beginCreatePass {
  width        : 423px;
  height       : 219px;
  border-radius: 0px 0px 8px 8px;
  background   : #F5F4F6;
}

.content--beginCreatePass :global(.vtex-login-2-x-formTitle)::before {
  content      : "RECUPERAR CLAVE";
  white-space  : nowrap;
  font-size    : 20px;
  font-weight  : 300;
  line-height  : 22.92px;
  text-align   : center;
  margin-left  : 5rem;
  margin-bottom: 2rem;
}

.content--beginCreatePass .formTitle {
  font-size: 0;
  display  : flex;
}

.content--recoveryPassword {
  width        : 423px;
  height       : 343px;
  border-radius: 0px 0px 8px 8px;
  background   : #F5F4F6;

}
.content--recoveryPassword :global(.vtex-login-2-x-inputContainerAccessCode){
  display: none;
}
:global(.vtex-login-2-x-emailVerification .vtex-login-2-x-formTitle){
  content       : "RESET YOUR PASSWORD";
  white-space   : nowrap;
  font-size     : 16px;
}
/* .content--beginCreatePass .formTitle {
  font-size: 0;
  display  : flex;
} */
