.vtex-button {
    background-color: #3a4d42; /* Cambia este color al que desees */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Tamaño del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}