

.paginationDot--isActive {
  background-color: black;
}
.sliderLayoutContainer--carouse {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.carousel .image {
  width: 100%;
  height: auto;
}

.carousel .rich-text {
  text-align: center;
  margin-top: 10px;
}
.sliderLeftArrow--custom-slider {
  width: 47px;
  margin-bottom: 94px;
}
.sliderRightArrow--custom-slider {
  width: 47px;
  margin-bottom: 94px;
}
.paginationDotsContainer--custom-slider {
height: 50.89px;
top: 430px;
left: 10px;
gap: 0px;
}
.paginationDotsContainer{
  display: flex !important;
  justify-content: center;
  margin-top: 10px;
}

.paginationDot{
  content: '-';
  color: #ccc;
  font-size: 20px;
  transition: color 0.3s;
}