/*--------------------------------------------css header desktop--------------------------------*/
.header-container-menu-desktop {
  width: 1, 136px;
  height: 47p;
  top: 9px;
  left: 72px;
  gap: 0px;
  opacity: 0px;
}
.flexRowContent--header-container-menu-desktop {
  width: 1280px;
  height: 56px;
  padding: 9px 72px 0px 72px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.flexRowContent--header-container-menu-phone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexRow.flexRow--header-container-menu-desktop{
  overflow: auto;
}