/*--------------------------------------------css home --------------------------------*/

.paragraph--texto-section-one-desktop {
  font-family: lexend;
  font-size: 16px;
  line-height: 16.8px;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 30px;
}

.wrapper--texto-section-one-desktop {
  margin-left: 72px;
  width: 500px;
  size: 16;
  line-height: 16, 8;
  margin-bottom: 0%;
}

.wrapper--texto-section-one-phone {
  margin-left: 10px;
  width: 500px;
  size: 16;
  line-height: 16, 8;
  font-family: lexend;
}
.paragraph--info-product {
  font-family: lexend;
}
.paragraph--text-image-slider {
  font-family: lexend;
  font-size: 12px;
  font-weight: 300;
  line-height: 14.52px;
  text-align: left;
}
.wrapper--info-product {
  width: 300;
  size: 12px;
  line-height: 14.52px;
}
.wrapper--info-product {
  margin-left: 20%;
}
.link--slider_third-row--button {
  font-family: Lexend;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: center;
}
.wrapper--slider_third-row--button {
  background-color: #1d2734;
  border-radius: 40px;
  width: 134px;
  height: 43px;
  padding: 8px;
  gap: 8px;
  border: 0.86px;
  margin-left: 40%;
}
.paragraph--slider_third-row--button {
  margin-top: 0px;
  margin-left: 12px;
  color: white;
}
/*------------------------------------------------section two home------------------------------*/
.paragraph--texto-section-two-desktop {
  font-family: lexend;
  font-size: 16px;
  font-weight: bold;
  font-weight: 500;
  line-height: 16.8px;
  text-align: left;
  margin-top: 120px;
  margin-bottom: 30px;
}
.wrapper--texto-section-two-desktop {
  margin-left: 72px;
  width: 500px;
  size: 16;
  line-height: 16, 8;
  font-family: lexend;
}
.wrapper--info-product-section-two {
  font-family: lexend;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  margin-left: 0%;
}
.container--info-product-section-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.paragraph--info-product-section-two,
.paragraph--info-product-before-discount,
.paragraph--info-price-product,
.paragraph--info-shipping-product,
.paragraph--info-product-before-discount {
  margin: 0;
  padding: 0;
  margin-left: 10%;
}
.paragraph--info-product-before-discount {
  font-family: lexend;
  width: 68px;
  height: 16.98px;
  text-decoration: line-through;
  color: #1d273466;
  margin-left: 35px;
}
.paragraph--info-price-product {
  font-family: lexend;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.8px;
  text-align: left;
  margin-left: 35px;
}
.paragraph--info-shipping-product {
  font-family: lexend;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #fa2080;
  margin-left: 35px;
}

.link--slider_third-row--buy-button {
  height: 40%;
  color: black;
  padding: 40%;
}
.wrapper--slider_third-row--buy-button {
  border-radius: 8px;

  height: 48px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border: 1px solid black;
  width: 300px;
  margin-left: 30px;
}
.paragraph--slider_third-row--buy-button {
  margin-top: 0px;
  margin-left: 12px;
}
.paragraph--discount-button {
  width: Hug (84px) px;
  height: Hug (32px) px;
  padding: 6px 12px 6px 12px;
  gap: 10px;
  border-radius: 4px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  margin-top: 0%;
  background-color: #1d2734;
  color: white;
}
.container--discount-button {
  margin-left: 35px;
  margin-top: 10px;
}

/* .paragraph--texto-section-header-desktop{
  font-family: Lexend;
font-size: 12px;
font-weight: 300;
line-height: 15px;
text-align: left;

} */
.container--texto-header-information {
  width: 1, 280px;
  height: 56px;
  padding: 8px;
  gap: 48px;
  opacity: 0px;
  margin-left: 0px;
  white-space: nowrap;
  overflow: hidden;
}
.paragraph--texto-header-information {
  font-family: Lexend;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
  text-align: right;
}

.wrapper--icon-header-section-one-information {
  background-color: #1d2734;
  width: 80px;
  height: 40px;
  gap: 10px;
  border-radius: 40px;
  border: 1px;
  opacity: 0px;
  color: white;
}
.paragraph--icon-header-section-one-information {
  font-family: Lexend;
  font-size: 14px;
  font-weight: 300;
  line-height: 17.5px;
  text-align: center;
  margin-top: 10px;
}

.container--icon-header-section-one-information {
  margin-top: 20px;
}
