.carousel .rich-text {
  text-align: center;
  margin-top: 10px;
}

.sliderLeftArrow--custom-slider {
  width        : 47px;
  margin-bottom: 94px;
}

.sliderRightArrow--custom-slider {
  width        : 47px;
  margin-bottom: 94px
}

.sliderLeftArrow {
  left: -40px;
}

.sliderRightArrow {
  right: -40px;
}


@media (max-width: 780px) {
  .sliderLeftArrow {
    display: none;
  }

  .sliderRightArrow {
    display: none;
  }

  .paginationDotsContainer--custom-slider-shelf {
    top: 470px !important;
  }
}

.slideChildrenContainer--custom-slider-shelf {
  padding: 10px;
}

.slide--custom-slider {
  padding: 10px;
}

/*------------tablet---------------*/
@media (min-width: 768px) and (max-width: 1024px) {
  .paginationDotsContainer--custom-slider-shelf {
    top: 600px !important;
  }

}
/*------------banner home---------------*/
.sliderLayoutContainer{
  position: relative;
  z-index: 300; 
}