/*--------------------------------------------css header desktop--------------------------------*/
.header-container-menu-desktop{
    width: Fixed (1,136px)px;
height: Hug (47px)px;
top: 9px;
left: 72px;
gap: 0px;
opacity: 0px;

}
.flexRowContent--header-container-menu-desktop{
    gap: 50px;
}
