.imageElement--img-certicate {
  margin-top: 19%;
  margin-left: 28%;
  width: 48px;
  height: 48px;
}

.imageElement--container-product-image {
  width: 75%;
}

.imageElement--icon-header {
  width: 20px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  margin-left: 10px;
}
.imageElement--icon-header-section-one-information {
  width: 18px;
  height: 12px;
  top: 6px;
  left: 3px;
  gap: 0px;
  opacity: 0px;
}

.searchBarInnerContainer--custom-search-bar{
  background: transparent;
}
.searchIcon--custom-search-bar{
display: block;
}