.savings {
    width           : 84px !important;
    height          : 20px;
    padding         : 6px 12px 6px 12px;
    gap             : 10px;
    border-radius   : 4px;
    border          : 1px;
    background      : rgba(29, 39, 52, 1);
    color           : white;

}