.vtex-button {
    background-color: transparent;
    width           : Fixed (212px)px;
    height          : Fixed (48px)px;
    padding         : 10px;
    gap             : 10px;
    border-radius   : 8px;
    border          : 1px solid #1D2734;
    opacity         : 0px;

}

.buttonText--custom-buy-button {
    text-transform: lowercase;
}

.buttonText--custom-buy-button ::first-letter {
    text-transform: capitalize;
}

.buttonDataContainer--custom-buy-button::before {
    content      : url("/arquivos/car-buy.svg");
    width        : 16.8px;
    height       : 17.5px;
    padding-right: 10px;

}
