.slideChildrenContainer--custom-slider-shelf :global(.vtex-product-highlights-2-x-productHighlightWrapper) {
    color         : #FA2080;
    text-align    : left;
    font-size     : 14px;
    line-height   : 16.8px;
    padding-bottom: 10px;
}

.slideChildrenContainer--custom-slider-shelf {
    max-width  : min-content;
}

/*------------tablet---------------*/
@media (min-width: 640px) and (max-width: 1024px) {
    .paginationDotsContainer--custom-slider-shelf {
        top: 480px !important;
    }

    .slideChildrenContainer--custom-slider-shelf {
        max-width  : min-content;
    }

    .slide--custom-slider-shelf{
        justify-content: center;
    }

}