.flexRowContent--container-button-buy :global(.vtex-button) {
  background-color: transparent;
  color           : black;
  border-color    : rgb(0, 0, 0);
  width           : 212px;
  height          : 48px;
  padding         : 10px;
  gap             : 10px;
  border-radius   : 8px;
  opacity         : 0px;
}

.flexRowContent--container-button-buy :global(.vtex-button):hover {
  background-color: #1D2734;
  color       : white;
  border-color: #1D2734;
  opacity     : 1;
}

.slideChildrenContainer--custom-slider-shelf :global(.vtex-product-summary-2-x-clearLink) {
  max-width: min-content;
}

.flexRowContent--tablet__title--two{
  margin-top: 65px;
}


.flexRowContent--container-price_salving-add_favorite {
  display: flex;
}


/*------------tablet---------------*/
@media (min-width: 640px) and (max-width: 1024px) {
  .flexRow--header-container-menu-desktop {
    overflow   : auto;
    margin-left: 0%;
  }
}


@media (min-width: 1024px) {
  .flexRow--container-shelf-product {
    max-width: 1280px;
    margin   : auto;
  }
}
