.wishlistIconContainer--favorite :global(.vtex-button) {
  border-color: black;
  margin-left : 55%;
  width       : 44px;
  height      : 32px;
  min-height  : auto;
}

.wishlistIcon--favorite {
  background-image: url("/arquivos/favorite_border.svg") !important;
  width           : 20px;
  height          : 20px;
  position        : absolute;
  background-image: #1D2734;
}

@media (max-width: 768px) {
  .wishlistIconContainer--favorite :global(.vtex-button) {
    margin-left: 20%;
  }
}