.flexColChild--breadcrumb__search {
    width : 312px;
    height: 25px;
}

.flexCol--breadcrumb__search :global(.vtex-search-result-3-x-totalProducts--layout) {
    font-size   : 14px;
    font-weight : 300;
    line-height : 17.5px;
    text-align  : left;
    padding-left: 0%;
}

.flexColChild--product__gallery {
    display       : flex;
    flex-direction: row-reverse;
}

.flexColChild--shelf__details--gallery {
    display       : flex;
    padding       : 10px;
    padding-bottom: 0;
}

.flexCol--sort__options :global(.vtex-search-result-3-x-orderByButton) {
    width          : 170px;
    height         : 40px;
    border-radius  : 40px;
    background     : #E7E7E7;
    justify-content: center;
}

.flexColChild--filter__options :global(.vtex-search-result-3-x-filterIcon) {
    padding: 0%;
    color  : #1D2734;
}

.flexCol--shelf__details--gallery :global(.vtex-product-summary-2-x-description--product-summary-description-gallery) {
    font-size             : 12px !important;
    font-weight           : 400 !important;
    line-height           : 12.76px !important;
    text-align            : left !important;
    height                : 39px;
    width                 : 149px;
    padding               : 0%;
    margin-right          : 0;

}

.flexCol--shelf__image--gallery {
    width : 135.15px;
    height: 106.3px;
}

.flexColChild--shelf__details--gallery :global(.vtex-product-highlights-2-x-productHighlightWrapper) {
    color: #FA2080;
}

.flexColChild--sort__options :global(.vtex-search-result-3-x-orderByText)::before {
    content       : "ordenar por";
    font-size     : 14px;
    text-transform: lowercase;
    color         : rgba(29, 39, 52, 1);

}
