.galleryLayoutSwitcher {
    margin-bottom: 50px;
}

.galleryTitle--layout {
    font-size  : 20px;
    font-weight: 600;
    line-height: 25px;
    text-align : left;
}

.filter__container--title {
    display: none;
}

.filterAvailable {
    width           : 184px;
    height          : 36px;
    padding         : 8px 16px 8px 16px;
    border-radius   : 40px;
    border          : 1px;
    background-color: rgb(231, 234, 235);
}

.filterContent {
    width     : 184px;
    height    : 176px;
    overflow-y: scroll;
}

.filterItem {
    height : 44px;
    padding: 10px;
}

.filterTitleSpan {
    font-size  : 14px;
    font-weight: 400;
    line-height: 20px;
    text-align : right;
}

.filter__container--priceRange :global(.vtex-slider__base-internal) {
    border: 3px solid #1d2734;
}

.filter__container--priceRange :global(.vtex-slider__selector) {
    background-color: #1d2734;
}

.buttonShowMore--buttom-see-more-gallery :global(.vtex-button) {
    min-width    : 110px;
    width        : auto;
    height       : 32px;
    padding      : 6px 12px 6px 12px;
    border-radius: 40px;
    border       : 1px;
    background   : #1d2734;
    color        : white;
    top          : 50px;
}

.filterPopupTitle {
    font-size: 0;
    display  : flex;
}

.buttonShowMore--buttom-see-more-gallery :global(.vtex-button__label)::before {
    content       : "ver más";
    font-size     : 14px;
    font-weight   : 400;
    line-height   : 20px;
    text-align    : left;
    text-transform: lowercase;
}

.buttonShowMore--buttom-see-more-gallery :global(.vtex-button__label) {
    font-size: 0;
    display  : flex;
}

.buttonShowMore--buttom-see-more-gallery :global(.vtex-button__label)::before {
    text-transform: capitalize;
}

.buttonShowMore--buttom-see-more-gallery :global(.vtex-button__label)::after {
    content: url("/arquivos/svg__plp--ver--mas.svg");
    padding: 5px;
    width  : 11.67px;
    height : 11.67px;
    color  : white;

}



/*-------------mirar si quitar-------------*/
.showingProductsCount {
    display: none;
}

.showingProducts {
    display: none;
}

@media (max-width: 767px) {
    .container--layout :global(.vtex-flex-layout-0-x-flexRowContent) {
        display: flex;
    }
}

.orderByOptionsContainer :hover {
    background-color: #1d2734;
    color           : white;
}

.filter__container--category-2,
.filter__container--brand,
.filter__container--color,
.filter__container--category-3,
.filter__container--talla,
.filter__container--priceRangefilter__container--priceRange {
    border-bottom-style: none;
}

.filterContent {
    font-family: Lexend;
    font-size  : 12px;
    font-weight: 300;
    line-height: 15px;
    text-align : left;
}

.totalProductsMessage {
    text-transform: lowercase;
}

.totalProductsMessage::after {
    content     : "encontrados";
    font-size   : 14px;
    font-weight : 300;
    line-height : 17.5px;
    padding-left: 4px;

}

.orderByText::first-letter {
    text-transform: capitalize;
}

.filterPopupTitle::before {
    content      : url("/arquivos/plp-filter-settings.png");
    width        : 20px;
    height       : 20px;
    padding-right: 4px;
}

.filterPopupTitle::after {
    content: url("/arquivos/arrow_drop_down.png");
    width  : 20px;
    height : 20px;
}

.filterPopupArrowIcon {
    display: none;
}