/* @font-face {
    font-family: 'EduAUVICWANTHand';
    src: url('/assets/fonts/EduAUVICWANTHand-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
  @font-face {
    font-family: 'PlaywriteCU-VariableFont_wght';
    src: url(assets/fonts/PlaywriteCU-VariableFont_wght.ttf);
    font-weight: bold;
  }

  