.flexRow--container-desktop-main-slider {
  max-width: 1280px;
  margin   : auto;
}

@media (min-width: 1024px) {
  .flexRow--conatainer-banner-home-desktop {
    width : 1092px !important;
    height: 340px;
  }
}


/* .flexRowContent--phone_main-shelf-products{
  width: 328px;
  height:292px;
} */
/* .flexRow--container-shelf-product{
  width: 1092px !important;
  height: 378px !important;
} */

@media (max-width: 767px) {
  .flexCol--second__row-text {
    width: 20%;
  }
}