.flexRow--container-desktop-main-slider {
  max-width: 1280px;
  margin   : auto;
}

@media (min-width: 1024px) {
  .flexRow--conatainer-banner-home-desktop {
    width : 1092px !important;
    height: 340px;
  }
}


/* .flexRowContent--phone_main-shelf-products{
  width: 328px;
  height:292px;
} */
/* .flexRow--container-shelf-product{
  width: 1092px !important;
  height: 378px !important;
} */

@media (max-width: 768px) {
  .flexCol--second__row-text {
    width: 20%;
  }
  .flexRowContent--container-button-buy :global(.vtex-button){
    width: 160.96px;
    height: 36.44px;
    padding: 7.59px;
    gap: 7.59px;
    border-radius: 6.07px;
    border: 1px solid black;

    
  }

}
